@charset "utf-8";
/* CSS Document */

body{ width:100%; text-align:center; background:#000000; margin:0; font-family:  Arial, Helvetica, sans-serif; font-size: 13px; line-height:20px;}
html{ width:100%; text-align:center; background:#000000; margin:0;}
a{
	font-size: 17px;
	color: #842B07;
	text-align: center;
}

#warp{ width:960px; background:#391f0a; margin:0 auto;}

.banner{ width:960px; height:661px; text-align:left;}
.banner .banner1{ width:530px; height:598px; float:left; border:0; margin:0; padding:0; background:url(images/banner1.jpg) no-repeat;}
.banner .banner1 .clicktowatch{ float:left; border:0; margin:0; padding:40px 0px 0px 135px;}
.banner .banner1 .movie{ width:509px; height:570px; float:right; border:0; margin:0; padding:2px 0px 0px 0px;}
.banner .banner2{ width:430px; height:282px; float:right; border:0; margin:0; padding:0;}
.banner .banner3{ width:350px; height:316px; float:right; background:url(images/banner3.jpg) no-repeat; margin:0; padding:0 45px 0 35px; font-weight:bold;}
.banner .banner4{ width:960px; height:63px;border:0; margin:0; padding:0;}

.content{margin:0; padding:30px 20px 50px 40px; text-align:left; color:#a65d39;}
.content .content1{ float:left; width:355px;}
.content .content1 ul{margin:10px 0 0 0; padding:0; list-style:none;}
.content .content1 ul li{ margin-bottom:5px; background:url(images/list-bg.jpg) no-repeat 0 7px; padding-left:14px; }

.content .content2{ float:left; width:300px; margin-left:30px;}
.content .content2 p{ margin:0; padding:0;}
.content .content2 p img{ float:left; padding-bottom:20px; padding-right:23px;}

.content .content3{ float:left; width:215px;}
.content .content3 p{ margin-top:10px; margin-bottom:10px; padding:0;}
.content .content3 .content3-bg1{ background:url(images/content3-bg1.jpg) no-repeat; width:16px; height:29px; float:left}
.content .content3 .content3-bg1_1{ background:url(images/content3-bg1_1.jpg) no-repeat; width:170px; height:29px; float:right; margin-right:29px;}
.content .content3 .content3-bg1_1 .txt{ background:#271306;border:0; padding-top:7px; width: 155px; text-align:left;font-size:12px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#7f3f1f;}
.content .content3 .content3-bg2{ background:url(images/content3-bg2.jpg) no-repeat; width:186px; height:10px; margin-top:10px}
.content .content3 .content3-bg2_1{ background:url(images/content3-bg2_1.jpg) no-repeat; width:186px; height:139px;}
.content .content3 .content3-bg2_1 .txt{ background:#271306;border:0; padding:0 0 5px 5px; width:170px;text-align:left;font-size:12px;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;color:#7f3f1f; overflow-y:hidden; height: 128px;}
.content .content3 .submit{ float:right; margin-top:10px; margin-right:29px;}
.foot {color: #7f3f1f;}
